body {
  background-color: rgb(190, 140, 93);
}
h1 {
  text-align: center;
}
a {
  display: block;
  color: rgb(232, 228, 228);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: rgb(200, 197, 197);
}
